PORT=5000
DATABASE_URL=postgresql://user:password@localhost:5432/traveloop
JWT_SECRET=supersecretjwtkey
JWT_REFRESH_SECRET=supersecretjwtrefreshkey
JWT_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
